.genresList {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.movieAbout {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}

.titleImage {
    width: 280px;
}

.link {
    margin-top: 16px;
}

h3 {
    margin: 10px 0 0 0;
}