.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}